#main {
  height:100vh;
  width:100vw;
}

h1, h2, h3, h4 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  color: white;
}
